.idea
composer.phar
composer.lock
demos/
images/maps/*
images/graph-month-year-matches.png
images/graph-month-year-players.png
images/graph-month-year.png
images/graph-players-2months.png
images/graph-players-2months_test.png
images/graph-players-week.png
inc/config.inc.php
vendor
